@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  display: none;
}

.top-bar .logo {
  height: 80px;
  position: absolute;
  left: -1px;
}

.top-bar .menu {
  position: absolute;
  right: 10px;
  height: 45px;
  width: 45px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 10px;
}

.about p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  text-align: left;
  color: hsl(231, 11%, 63%);
  border-bottom: 1px solid hsl(231, 11%, 63%);
  padding-bottom: 50px;
  font-size: 16px;
}

.about-header {
  margin-top: 0;
  margin-bottom: -20px;
  padding-right: 10px;
  display: inline-block;
  padding-left: 20px;
  text-align: left;
  position: relative;
}

.about-header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 0;
  width: 6px;
  height: 75%;
  background-color: red;
}

.about h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: hsl(231, 11%, 63%);
  margin-bottom: -20px;
  text-transform: uppercase;
}

.about h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 33px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 300px;
  overflow-x: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-img {
  background-image: url("./assets/images/IMG_4260.jpeg");
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 20px 0;
}

.banner-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  color: rgb(252, 252, 252);
  border: 1px solid white;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.banner-button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  transition: ease-in-out 0.3s;
  color: black;
}

.offers h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: hsl(231, 11%, 63%);
  text-transform: uppercase;
  margin-bottom: -20px;
  position: relative;
}

.offers h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 33px;
  position: relative;
}

.offers h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: red;
}

.offers ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.offers li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.offers li img {
  object-fit: cover;
  width: 25px;
  height: 25px;
}

.icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
}

.offers h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: hsl(0, 0%, 0%);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: relative;
  margin: 0;
}
